
<div id="home">
  <div class="container">
    <div class="col-md-7 ftco-animate mb-md-5 fadeInUp ftco-animated offset-2 shadow-lg text-center">

      <h1>Seja bem vindo(a) ao <br />Training Banking!!!</h1>

      <div [ngSwitch]="usuarioLogado()" class="navbar-nav w-100">
        <div *ngSwitchCase="false">
          <h3>Ainda não é nosso cliente?</h3>
          <h4>Faça já o seu cadastro</h4>
          <p><a [routerLink]='["/cadastro"]' class="btn btn-primary px-4 py-3 mt-3">Cadastro</a></p>
        </div>

        <div *ngSwitchCase="true" class="home-logado">
          <h3>{{nome}}</h3>

          <h5>Como podemos te ajudar?</h5>
        </div>
      </div>
    </div>
  </div>
</div>
