nav.navbar {
  height: 9em;
  background-color: #d4b47a;
  color: white;
}

nav .container * {color: white;}

.navbar-light .navbar-brand {
  color: white;
}

.acesse-sua-conta {
  font-size: smaller;
  padding: 0;
  top: -18px;
  position: relative;
  left: -10%;
}

 
input#txt-cpf {
  color: black;
  margin-top: 4px;
  position: relative;
  top: -18px;
  border-width: 0px;
  border-style: solid;
  border-radius: 5px;
  padding: 3px;
}


ul.navbar-nav.flex-grow.w-100 {
  padding-top: 15px;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.cliente-logado {

  width: 20em;
}
